// // ------------ colors ------------
$lightBlue: rgb(146, 224, 229);
$darkBlue: rgb(63, 141, 167);
$mercury: rgb(226, 226, 226);

// ------------ Setup ------------
body {
  font-family: "Raleway";
  margin: 0;
}

// ------------ global classes ------------
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

// ------------ header ------------
header {
  height: 375px;
  background-image: url(Assets/park.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50px;
}

.banner {
  width: 60%;
  text-align: center;
  margin: 0px auto;
  padding-top: 15px;
  img {
    border: 4px solid $darkBlue;
    border-radius: 50%;
    width: 220px;
    margin-bottom: 5px;
  }
  a {
    color: $darkBlue;
    font-size: 16px;
    text-decoration: none;
    border: 4px solid $darkBlue;
    background-color: white;
    display: block;
    width: 120px;
    margin: 0 auto;
    padding: 5px;
  }
}

// ------------ nav ------------
nav {
  background-color: $lightBlue;
  height: 40px;
  padding: 0px;
  img {
    width: 30px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
  }
  section {
    float: right;
    a {
      color: white;
      text-decoration: none;
      margin-right: 20px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

ul {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

li {
  display: inline-block;
  margin-right: 30px;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// ------------ main ------------
.card-dog {
  padding-bottom: 20px;
  width: 30%;
  text-align: center;
  float: left;
  margin: 10px;
  img {
    width: 160px;
    border: 2px solid $darkBlue;
    border-radius: 50%;
  }
  p {
    margin-bottom: 30px;
    padding: 10px;
  }
  a {
    color: $darkBlue;
    font-size: 16px;
    text-decoration: none;
    border: 4px solid $darkBlue;
    background-color: white;
    padding: 5px;
  }
  &:hover {
    background-color: $mercury;
  }
}

@media (max-width: 600px) {
  .card-dog {
    width: 90%;
    padding: 5%;
    margin: 0;
  }
}

// ------------ footer ------------
footer {
  background-color: $darkBlue;
  color: white;
  text-align: center;
  line-height: 3em;
  a {
    color: white;
    margin: 10px 20px;
    &:last-child {
      display: block;
    }
  }
}
